



#d1{
    background-color: rgb(136, 13, 13);
    height: 100px;
    width: 100px;
    padding: 5px;
    margin: 5px;
    border: 5px solid rgb(224, 172, 103);
    border-radius: 50%;
    /* border-bottom-right-radius: 40px;
    border-top-left-radius: 40px; */
}
#d2{
    background-color: rgb(134, 134, 22);
    height: 100px;
    width: 100px;
    padding: 5px;
    margin: 5px;
    border: 5px dotted rgb(224, 172, 103);
    border-radius: 50%;
}

#d3{
    background-color: rgb(15, 92, 15);
    height: 100px;
    width: 100px;
    padding: 5px;
    margin: 5px;
    border: 5px dashed rgb(224, 172, 103);
    border-radius: 50%;
}

#d1:hover{
    background-color: rgb(255, 0, 0);
     box-shadow: 0 0 20px blue;   /*   box-shadow : x-axis  y-axis thickness color  */
    
}

#d2:hover{
    background-color: rgb(255, 255, 2);
    box-shadow: 5px 2px 2px black;
    border: 5px solid brown;
}

#d3:hover{
    background-color: rgb(23, 236, 23);
    box-shadow: 5px -5px 5px teal;
}


h1:hover{
    text-align: center;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px gray;
    background-image: url(/city.jpg);
    backdrop-filter: blur(5px);
    text-align: center;
}

p{
    text-align: center;
}
body{
    text-align: center;
    text-shadow: 1px 1px 1px teal;
    text-transform: capitalize;
    text-decoration: underline;

    background-image: url(/back2.jpg);
    /* background-repeat: repeat-y; */
    background-attachment: fixed;
    backdrop-filter: blur(5px);
}

#main{
    justify-items: center;
    border-radius: 25px;
    height: 380px;
    width: 175px;
    background-color: rgb(24, 23, 23);
    padding: 10px;
    margin: 10px;
}

