body{
    background-color:rgb(240, 204, 192);
    
}

input{
    
    text-align: center;
    height: 30px;
    width: 100px;
   
    
}
button{
    height: 30px;
    width:150px;
    margin-left: 120px
}

p{
    font-size: larger;
    text-transform: uppercase;
}
h1{
    text-align: center;
}
div{
    align-content: center;
    background-color: rgb(172, 85, 50);
    height: 400px;
    width: 400px;
    padding: 20px;
    margin: 20px;
    border-radius: 5%;
    margin-left: 28%;

}

label{
    padding-right: 90px;
    font-size: 200%;
}